{% extends 'layout.html' %}

{% block content %}
<div class="">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="">
            <legend class="">Edit Profile</legend>

            <div class="">
                {{ form.name.label(class="") }}

                {% if form.name.errors%}
                    {{ form.name(class="") }}
                    <div class="">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control ") }}
                {% endif %}

            </div>

            <div class="">
                {{ form.username.label(class="") }}

                {% if form.username.errors%}
                    {{ form.username(class="") }}
                    <div class="">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control ") }}
                {% endif %}

            </div>

            <div class="">
                {{ form.bio.label(class="") }}

                {% if form.bio.errors%}
                    {{ form.bio(class="") }}
                    <div class="">
                        {% for error in form.bio.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.bio(class="form-control ") }}
                {% endif %}

            </div>

            <div class="">
                {{ form.email.label(class="") }}

                {% if form.email.errors%}
                    {{ form.email(class="") }}
                    <div class="">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control ") }}
                {% endif %}

            </div>

        </fieldset>
        <div class="">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}