{% extends 'layout.html' %}

{% block content %}
<div class="">
    <div class="container" style="border: 1px black s;">
        <h1>edit_profile</h1>
        {{ form.hidden_tag() }}
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.profile_pic.label(class="form-control-label") }}
                {{ form.profile_pic(class="form-control-file") }}
                {% for error in form.profile_pic.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.bio.label(class="form-control-label") }}
                {{ form.bio(class="form-control-file") }}
                {% for error in form.bio.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>

</div>
{% endblock content %}