{% extends 'figmalogin.html' %}

{% block content %}
	<div class="">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Reset Password</legend>

				<div class="">
					{{ form.new_password.label(class="") }}

					{% if form.new_passord.errors%}
						{{ form.new_passord(class="") }}
						<div class="">
							{% for error in form.new_passord.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.new_passord(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.confirm_new_password.label(class="") }}

					{% if form.confirm_new_password.errors%}
						{{ form.confirm_new_password(class="") }}
						<div class="">
							{% for error in form.confirm_new_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_new_password(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
				<small class="">
					<a href="#">Lupa Kata Sandi?</a>
				</small>
			</div>
			<small class="">
				<a href="{{ url_for('signup') }}">Belum punya akun ?</a>
			</small>

		</form>
	</div>
{% endblock content %}